.maincontent{
    background-color: #FBF6F0;
    border-radius: 10px;
    left: 110px;
    height: 100%;
    width: 100%;
}

  .navbar {
    position: -webkit-sticky;
    position: sticky ;
    top: 0;
    background-color: #FBF6F0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }