.sidebar_l{
    width: 110px;
    justify-content: center; 
    position: fixed;

}

.icon1{
    padding-top: 2rem;
}
.icon1 img, .icon2 img{
    height: 1.8rem !important;
    width: 1.8rem !important;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    opacity: 0.5;
}

.icon2{
    margin-top: 5rem;
}

.icon_flag img{
    height: 1.5rem !important;
    width: 1.5rem !important;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    border-radius:2rem;
}
.badge{
    position: relative;
    top: -46px;
    right: -8px;
    padding: 0 3px 0 3px;
    border-radius: 50%;
    background: #FFE2E5;
    color: red;
    font-size: 12px;
}
.notification img{
  /* display: flex; */
  font-size: 0;
}
