<div class="sidebar_l" align="center">
    <div class="icon_profile" >
        <img src="./assets/svg/001-boy.svg" >
    </div>
    <div class="icon1">
        <img src="./assets/svg/111.svg" > 
        <img src="./assets/svg/112.svg" > 
        <img src="./assets/svg/113.svg" > 
        <img src="./assets/svg/114.svg" > 
        <img src="./assets/svg/115.svg" > 
        <img src="./assets/svg/116.svg" > 
    </div>
    <div class="icon2">
        <span class="notification">
            <img src="./assets/svg/117.svg" > 
            <span class="badge">3</span>
        </span> 
        <img src="./assets/svg/113.svg" style="margin-top: -30px;"> 
        <img src="./assets/svg/111.svg" > 
    </div>
    <div class="icon_flag">
        <img src="./assets/svg/226-united-states.svg" >
    </div>
</div>
