<div class="extracontent" >
    
    <div class="header d-flex ">
        <div class="searchbar d-flex" >
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Search...">
        </div>
        <div class="icon icon-info">
            <img src="./assets/svg/113.svg" alt="">
        </div>
        <div class="icon icon-caution">
            <mat-icon class="caution">pause</mat-icon>
        </div>
    </div>
    <div class="averagecard">
        <div class="text-bold">
            <a href="#">SAP UI Progress</a>
        </div>
        <div class="mt-1 mb-2">
            <span class="percent mr-5">67%</span>
            <span class="text-mute font-size-sm ">Average</span>
        </div>
        <div class="average" role="progress">
            <div class="average_active"></div>
        </div>
    </div>
    <div class="budgetcard">
        <div class="text-bold" >
            <a href="#" style="color: #FFA800;">Airplus Budget</a>
        </div>
        <div class="mt-1 mb-2">
            <span class="percent mr-5">87K%</span>
            <span class="text-mute font-size-sm "> 23k to goal</span>
        </div>
        <div class="budget" role="progress">
            <div class="budget_active"></div>
        </div>
    </div>
    
    <div>
        <app-todo></app-todo>
    </div>
</div>