<div id="chart">
    <apx-chart
      [series]="series"
      [chart]="charts"
      [dataLabels]="dataLabels"
      [plotOptions]="plotOptions"
      [yaxis]="yaxis"
      [fill]="fill"
      [stroke]="stroke"
      [tooltip]="tooltip"
      [xaxis]="xaxis"
      [grid]="grid"
      [title]="title"
      [legend] = "legend"
      [colors]="colors"
      [markers]="markers"
    ></apx-chart>
    <div class="bg-white br-1 padding-20" >
        <div *ngFor="let statisticList of statisticLists" class="pt-1 pl-3 pb-1">
            <p class="text-mute">{{statisticList.title}}</p> 
            <p class="font-size-h4 font-weight-bolder">${{statisticList.price}}</p>
        </div>
    </div>
  </div>
