<div class="card">
    <div class="card-header row">
        <div class="card-title">
            <span class="font-weight-bold font-size-h5  mt-2">Todo</span>
        </div>
        <div class="card-toolbar">
            <button (click)="myFunction()" class="dropbtn">Create</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
            </div>
            <!-- <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right show" style="position: absolute; transform: translate3d(-97px, 31px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                <ul class="navi navi-hover">
                    <li class="navi-header pb-1">
                        <span class="text-primary text-uppercase font-weight-bold font-size-sm">Add new:</span>
                    </li>
                    <li class="navi-item">
                        <a href="#" class="navi-link">
                            <span class="navi-icon">
                                <i class="flaticon2-shopping-cart-1"></i>
                            </span>
                            <span class="navi-text">Order</span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a href="#" class="navi-link">
                            <span class="navi-icon">
                                <i class="flaticon2-calendar-8"></i>
                            </span>
                            <span class="navi-text">Event</span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a href="#" class="navi-link">
                            <span class="navi-icon">
                                <i class="flaticon2-graph-1"></i>
                            </span>
                            <span class="navi-text">Report</span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a href="#" class="navi-link">
                            <span class="navi-icon">
                                <i class="flaticon2-rocket-1"></i>
                            </span>
                            <span class="navi-text">Post</span>
                        </a>
                    </li>
                    <li class="navi-item">
                        <a href="#" class="navi-link">
                            <span class="navi-icon">
                                <i class="flaticon2-writing"></i>
                            </span>
                            <span class="navi-text">File</span>
                        </a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <div class="card-content">
        <table class="agents">
                
            <tbody>
                <tr *ngFor="let agent of agents">
                    <td>
                        <div class="bulletbar {{agent.bulletbar}}">
                        </div>
                    </td>
                    <td class="min-50">
                        <input class="checkbox {{agent.checkcolor}}" type="checkbox" value="1">
                    </td>
                    <td class="min-200">
                        <span>{{agent.job}}</span> <br>
                        <span class="text-mute">Due in {{agent.timeline}} Days</span>
                    </td>
                    <td class="min-150 grey">
                        <mat-icon>more_horiz</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>