li{
    fill: chartreuse;
    height: 31px;
    width: 31px;
    border-radius: 5px;
    margin: 5px;
    justify-content: center;
    display : flex;
    background-color: #F3F6F9;
    align-items: center;
}
#setting:hover{
    background-color:#8950FC;
}
#drop:hover{
    background-color: #1BC5BD;
}
#plane:hover{
    background-color: #FFA800;
}
i{
    vertical-align: -0.625em;
}
.fa-cog{
    color:#8950FC;
}
.fa-tint{
    color:#1BC5BD;
}
.fa-paper-plane{
    color:#FFA800;
}
.fa-cog:hover{
    background-color:#8950FC;
    color:white;
}
.fa-tint:hover{
    color:white;
    background-color: #1BC5BD;
}
.fa-paper-plane:hover{
    color:white;
    background-color: #FFA800;
}