<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<div class="fix" >
    <ul>
        <!-- <li id="drop">
            <i class="fas fa-tint"></i>
        </li>
        <li id="setting">
            <i class="fas fa-cog"></i>
        </li>
        <li id="plane">
            <i class="fas fa-paper-plane"></i>
        </li> -->
        <li *ngFor="let fixIcon of fixIcons" id="{{fixIcon.id}}">
            <i class="{{fixIcon.name}}"></i>
        </li>
    </ul>
</div>
