html, body { height: 100%; font-family: Poppins, Helvetica, "sans-serif";}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.d-flex {
    display: flex;
    flex-direction: row;
}
.padding-top{
    padding-top: 50px;
}